# .env.template
# Hard-coded environment variables
DB_ROOT_PASSWORD=root
DB_PASSWORD=password
DB_USER=user
DB_NAME=drupaldb
DB_HOST=mysql
DB_PORT=3306
DB_DRIVER=mysql
APACHE_RUN_USER=www
APACHE_RUN_GROUP=www
DP_HOSTNAME=localhost
CODES_ENABLE=no
APP_ROOT=/var/www/html
WEB_ROOT=/var/www/html/web

# Dynamic environment variables (replace with actual values)
OPENAI_KEY=__OPENAI_KEY__
DP_AI_VIRTUAL_KEY=__DP_AI_VIRTUAL_KEY__
DP_APP_ID=__DP_APP_ID__
